In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vaibh\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vaibh\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vaibh\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\vaibh\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vaibh\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: outcome in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vaibh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\vaibh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vaibh\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vaibh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vaibh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException  #importing exception
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time

1) Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

try:
    all_rank = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for value in all_rank:
        rank.append(value.text)
except NoSuchElementException:
    rank.append("-")
    
try:
    all_name = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for value in all_name:
        name.append(value.text)
except NoSuchElementException:
    name.append("-")
    
try:
    all_artist = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for value in all_artist:
        artist.append(value.text)
except NoSuchElementException:
    artist.append("-")
    
try:
    all_upload_date = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for value in all_upload_date:
         upload_date.append(value.text)
except NoSuchElementException:
    upload_date.append("-")
    
try:
    all_views = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for value in all_views:
        views.append(value.text)
except NoSuchElementException:
    views.append("-")

In [5]:
len(rank),len(name),len(artist),len(upload_date),len(views)

(48, 48, 48, 48, 48)

In [7]:
youtube = pd.DataFrame({})
youtube['Rank'] = rank
youtube['Name'] = name
youtube['Artist'] = artist
youtube['Views'] = views
youtube['Upload Date'] = upload_date
youtube

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"
30,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
31,"""Despacito""[9]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
32,"""See You Again""[22]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
33,"""Gangnam Style""⁂[31]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
34,"""Baby""*[66]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
35,"""Bad Romance""[70]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
36,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
37,"""Evolution of Dance""[77]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
38,"""Girlfriend""‡[79][80]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
39,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
40,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
41,"""Evolution of Dance""*[77]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
42,"""Pokémon Theme Music Video""‡[90]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
43,"""Myspace – The Movie""‡[95][96]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
44,"""Phony Photo Booth""‡[99]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
45,"""The Chronic of Narnia Rap""‡[105]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
46,"""Ronaldinho: Touch of Gold""‡*[108]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
47,"""I/O Brush""‡*[114]",larfus,"247,000","October 5, 2005","October 29, 2005"

In [ ]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [10]:

close = driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')
close.click()

In [11]:
link_click = driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
link_click.click()

In [18]:
series=[]
place=[]
date=[]
time=[]


try:
    all_series = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for value in all_series:
        series.append(value.text)
except NoSuchElementException:
    series.append("-")
    
try:
    all_place = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[2]')
    for value in all_place:
        place.append(value.text)
except NoSuchElementException:
    place.append("-")
    
try:
    all_date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for value in all_date:
        date.append(value.text)
except NoSuchElementException:
    date.append("-")
    
try:
    all_time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for value in all_time:
        time.append(value.text)
except NoSuchElementException:
    time.append("-")

['2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '9:30 PM IST',
 '9:30 PM IST',
 '9:30 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '11:30 AM IST',
 '6:30 AM IST',
 '2:00 PM IST',
 '6:30 AM IST',
 '2:00 PM IST',
 '1:30 PM IST',
 '11:30 AM IST',
 '1:30 PM IST',
 '6:30 AM IST',
 '1:30 PM IST',
 '6:30 AM IST',
 '3:00 PM IST',
 '3:00 PM IST',
 '3:00 PM IST',
 '3:00 PM IST',
 '3:00 PM IST',
 '3:00 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '2:00 PM IST',
 '9:00 AM IST',
 '2:00 PM IST',
 '10:00 AM IST',
 '7:30 PM IST',
 '2:00 PM IST',
 '10:00 AM IST',
 '9:00 AM IST',
 '2:00 PM IST',
 '10:00 AM IST',
 '2:00 PM IST',
 '10:00 AM IST',
 '9:00 AM IST',
 '10:00 AM IST',
 '10:00 AM IST',
 '10:00 AM IST',
 '10:00 AM IST',
 '1:30 PM IST',
 '10:00 AM IST',
 '10:00 AM IST',
 '7:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '9:00 AM IST',
 '6:30 AM IST',
 '6:30 AM IST',
 '11:00 AM IST',
 '11:00 AM IST',
 '11:00 AM IST',
 '3:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '3:00 PM IST',
 '7:00 PM IST',
 '3:00 PM IST',
 '7:00 PM IST',
 '1:45 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '10:00 AM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '1:45 PM IST',
 '1:45 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '1:45 PM IST',
 '1:30 PM IST',
 '10:00 AM IST',
 '1:30 PM IST',
 '1:45 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '10:00 AM IST',
 '7:00 PM IST',
 '10:00 AM IST',
 '1:45 PM IST',
 '10:00 AM IST',
 '1:45 PM IST',
 '10:00 AM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '11:30 AM IST',
 '7:00 PM IST',
 '11:30 AM IST',
 '1:00 PM IST',
 '9:00 AM IST',
 '1:00 PM IST',
 '11:30 AM IST',
 '1:00 PM IST',
 '7:00 AM IST',
 '1:00 PM IST',
 '9:00 AM IST',
 '1:00 PM IST',
 '7:00 AM IST',
 '7:00 AM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '4:30 PM IST',
 '12:39 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '9:30 AM IST',
 '1:00 PM IST',
 '8:30 AM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '2:00 PM IST',
 '7:00 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '7:00 PM IST',
 '1:00 PM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '3:30 PM IST',
 '7:00 PM IST',
 '9:00 AM IST',
 '5:30 PM IST',
 '7:00 PM IST',
 '3:30 PM IST',
 '11:00 PM IST',
 '9:30 AM IST',
 '10:30 PM IST',
 '11:30 PM IST',
 '7:30 PM IST',
 '9:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '9:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST']

In [19]:
len(series),len(place),len(date),len(time)

(211, 210, 211, 211)

In [20]:
match = pd.DataFrame({})
match['Series'] = series[0:210]
match['Place'] = place[0:210]
match['Date'] = date[0:210]
match['Time'] = time[0:210]
match

                          Series       Place               Date         Time
0        ICC MENS WORLD CUP 2023        Pune   19 OCTOBER, 2023  2:00 PM IST
1        ICC MENS WORLD CUP 2023  Dharamsala   22 OCTOBER, 2023  2:00 PM IST
2        ICC MENS WORLD CUP 2023     Lucknow   29 OCTOBER, 2023  2:00 PM IST
3        ICC MENS WORLD CUP 2023      Mumbai   2 NOVEMBER, 2023  2:00 PM IST
4        ICC MENS WORLD CUP 2023     Kolkata   5 NOVEMBER, 2023  2:00 PM IST
..                           ...         ...                ...          ...
205  NEW ZEALAND A TOUR OF INDIA       Dubai  8 SEPTEMBER, 2022  9:30 AM IST
206                ASIA CUP 2022       Dubai  6 SEPTEMBER, 2022  7:30 PM IST
207                ASIA CUP 2022   Bangalore  4 SEPTEMBER, 2022  7:30 PM IST
208  NEW ZEALAND A TOUR OF INDIA       Dubai  1 SEPTEMBER, 2022  9:30 AM IST
209                ASIA CUP 2022       Dubai    31 AUGUST, 2022  7:30 PM IST

[210 rows x 4 columns]

In [21]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [11]:
search_economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search_economy.click()

In [12]:
search_india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search_india.click()

In [13]:
search_GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_GDP.click()

In [18]:
rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
share_18_19=[]
gdp_billion=[]


try:
    all_rank = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for value in all_rank:
        rank.append(value.text)
except NoSuchElementException:
    rank.append("-")
    
try:
    all_state = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for value in all_state:
        state.append(value.text)
except NoSuchElementException:
    state.append("-")
    
    
try:
    all_gsdp_19_20 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for value in all_gsdp_19_20:
        gsdp_19_20.append(value.text)
except NoSuchElementException:
    gsdp_19_20.append("-")
    
try:
    all_gsdp_18_19 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for value in all_gsdp_18_19:
        gsdp_18_19.append(value.text)
except NoSuchElementException:
    gsdp_18_19.append("-")
    
try:
    all_share_18_19 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for value in all_share_18_19:
        share_18_19.append(value.text)
except NoSuchElementException:
    share_18_19.append("-")
    
try:
    all_gdp_billion = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for value in all_gdp_billion:
        gdp_billion.append(value.text)
except NoSuchElementException:
    gdp_billion.append("-")

In [19]:
len(rank),len(state),len(gsdp_19_20),len(gsdp_18_19),len(share_18_19),len(gdp_billion)

(66, 66, 66, 66, 66, 66)

In [20]:
gsdp = pd.DataFrame({})
gsdp['Rank'] =rank
gsdp['State'] = state
gsdp['GSDP(19-20)'] = gsdp_19_20
gsdp['GSDP(18-19)'] = gsdp_18_19
gsdp['Share(18-19)'] = share_18_19
gsdp['GDP Billion'] = gdp_billion
gsdp

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [21]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [14]:
driver = webdriver.Chrome()
driver.get(" https://github.com/")

In [22]:
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [23]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [28]:
title=[]
urls=[]
desc=[]
contributer=[]
language=[]
language_1=[]



try:
    all_title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for value in all_title:
        title.append(value.text)
except NoSuchElementException:
    title.append("-")
    
try:
    all_urls = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a')
    for value in all_urls:
        urls.append(value.get_attribute("href"))
except NoSuchElementException:
    urls.append("-")
    
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        all_desc = driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
        for value in all_desc:
            desc.append(value.text)
    except NoSuchElementException:
        desc.append("-")
        
    try:
        all_contributer = driver.find_elements(By.XPATH,'//span[@class="Counter ml-1"]')
        for value in all_contributer:
            contributer.append(value.text)
    except NoSuchElementException:
        contributer.append("-")
        
    try:
        all_language = driver.find_elements(By.XPATH,'//ul[@class="list-style-none"]//li//span[1]')
        for value in all_language:
            language_1.append(value.text)
        language.append(language_1)    
    except NoSuchElementException:
        language.append("-")

In [29]:
len(title),len(urls),len(desc),len(contributer),len(language)

(25, 25, 23, 36, 25)

In [31]:
github = pd.DataFrame({})
github['Title'] =title[0:23]
github['Description'] = desc[0:23]
github['Contributer'] = contributer[0:23]
github['Language'] = language[0:23]

github

,Title,Description,Contributer,Language
0,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
1,OpenBMB / XAgent,An Autonomous LLM Agent for Complex Task Solving,5,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
2,ionic-team / ionic-framework,A powerful cross-platform UI toolkit for build...,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
3,cpacker / MemGPT,Teaching LLMs memory management for unbounded ...,9,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
4,Alex313031 / thorium,Chromium fork named after radioactive element ...,468,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
5,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,9,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
6,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
7,TheRealJoelmatic / RemoveAdblockThing,"Removes The ""Ad blocker are not allowed on You...",9,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
8,refinedev / refine,"Build your React-based CRUD applications, with...",53,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
9,PWhiddy / PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,292,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
10,Alex313031 / Thorium-Win,Chromium fork for Windows named after radioact...,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
11,imteekay / programming-language-research,"Programming Language Research, Applied PLT & C...",7,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
12,devfullcycle / imersao15,⚡ Building applications with LLMs through comp...,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
13,langchain-ai / langchain,A sample app for the Retrieval-Augmented Gener...,179,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
14,Azure-Samples / azure-search-openai-demo,This repository is for active development of t...,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
15,felipemotarocha / fullstackweek-store,Find and verify credentials,4,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
16,Azure / azure-sdk-for-java,🦍 The Cloud-Native API Gateway,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
17,trufflesecurity / trufflehog,Authentication for the Web.,4,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
18,Kong / kong,"The best way to start a full-stack, typesafe N...",,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
19,nextauthjs / next-auth,Three.js-based implementation of the 3D Gaussi...,3,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
20,t3-oss / create-t3-app,game of active directory,,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
21,mkkellogg / GaussianSplats3D,"⛅️ Home to Wrangler, the CLI for Cloudflare Wo...","1,711","[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
22,Orange-Cyberdefense / GOAD,Node.js JavaScript runtime ✨🐢🚀✨,49,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."

In [32]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [10]:
menu = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()

In [11]:
chart_click = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
chart_click.click()

In [12]:
hot100_click = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot100_click.click()

In [13]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]


    
try:
    all_song_name = driver.find_elements(By.XPATH,' //h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    for value in all_song_name:                   
        song_name.append(value.text)
        
    #from 2 nd song name
    
    all_song_name = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for value in all_song_name:                   
        song_name.append(value.text)
        
except NoSuchElementException:
    song_name.append("-")
    
try:
    all_artist_name = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for value in all_artist_name:                   
        artist_name.append(value.text)
        
    #from 2 nd song name
    
    all_artist_name = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for value in all_artist_name:                   
        artist_name.append(value.text)
        
except NoSuchElementException:
    artist_name.append("-")
    
try:
    all_last_week_rank = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
    for value in all_last_week_rank:                   
        last_week_rank.append(value.text)
        
except NoSuchElementException:
    last_week_rank.append("-")
    
try:
    all_peak_rank = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
    for value in all_peak_rank:                   
        peak_rank.append(value.text)
        
except NoSuchElementException:
    peak_rank.append("-")
    
try:
    all_weeks_on_board = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
    for value in all_weeks_on_board:                   
        weeks_on_board.append(value.text)
        
except NoSuchElementException:
    weeks_on_board.append("-")

In [14]:
len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board)

(100, 100, 100, 100, 100)

In [15]:
billboard = pd.DataFrame({})
billboard['Song Name'] =song_name
billboard['Artist Name'] = artist_name
billboard['Last Weal Rank'] = last_week_rank
billboard['Peak Rank'] = peak_rank
billboard['Weeks on Board'] = weeks_on_board

billboard

,Song Name,Artist Name,Last Weal Rank,Peak Rank,Weeks on Board
0,First Person Shooter,Drake Featuring J. Cole,-,1,1
1,IDGAF,Drake Featuring Yeat,-,2,1
2,Virginia Beach,Drake,-,3,1
3,Paint The Town Red,Doja Cat,1,1,10
4,Calling For You,Drake Featuring 21 Savage,-,5,1
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,2
96,Y Lloro,Junior H,-,97,1
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
98,Seven,Jung Kook Featuring Latto,57,1,13
99,Stars Like Confetti,Dustin Lynch,89,89,2

In [ ]:
driver.close()

6) Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
    Url-https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [16]:
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [17]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
gener=[]


try:
    all_book_name = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for value in all_book_name:                   
        book_name.append(value.text)
except NoSuchElementException:
    book_name.append("-")
    
try:
    all_author_name = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for value in all_author_name:                   
        author_name.append(value.text)
except NoSuchElementException:
    author_name.append("-")
    
try:
    all_volumes_sold = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for value in all_volumes_sold:                   
        volumes_sold.append(value.text)
except NoSuchElementException:
    volumes_sold.append("-")
    
try:
    all_publisher = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for value in all_publisher:                   
        publisher.append(value.text)
except NoSuchElementException:
    publisher.append("-")

try:
    all_gener = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for value in all_gener:                   
        gener.append(value.text)
except NoSuchElementException:
    gener.append("-")

In [18]:
len(book_name),len(author_name),len(volumes_sold),len(publisher),len(gener)

(100, 100, 100, 100, 100)

In [20]:
bestbooks = pd.DataFrame({})
bestbooks['Books Name'] =book_name
bestbooks['Author Name'] = author_name
bestbooks['Volume Sold'] = volumes_sold
bestbooks['Publisher'] = publisher
bestbooks['Gener'] = gener

bestbooks

,Books Name,Author Name,Volume Sold,Publisher,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

In [21]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [22]:
driver = webdriver.Chrome()
driver.get(" https://www.imdb.com/list/ls095964455/")

In [30]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]


try:
    all_name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for value in all_name:                   
        name.append(value.text)
except NoSuchElementException:
    name.append("-")
    
try:
    all_year_span = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for value in all_year_span:                   
        year_span.append(value.text)
except NoSuchElementException:
    year_span.append("-")
    
try:
    all_genre = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for value in all_genre:                   
        genre.append(value.text)
except NoSuchElementException:
    genre.append("-")
    
try:
    all_run_time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for value in all_run_time:                   
        run_time.append(value.text)
except NoSuchElementException:
    run_time.append("-")
    
try:
    all_ratings = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for value in all_ratings:                   
        ratings.append(value.text)
except NoSuchElementException:
    ratings.append("-")
    
try:
    all_votes = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for value in all_votes:                   
        votes.append(value.text)
except NoSuchElementException:
    votes.append("-")

In [31]:
len(name),len(year_span),len(genre),len(run_time),len(ratings),len(votes)

(100, 100, 100, 100, 100, 100)

In [32]:
most_watched_tv_series = pd.DataFrame({})
most_watched_tv_series['Series Name'] =name
most_watched_tv_series['Year Span'] = year_span
most_watched_tv_series['Genre'] = genre
most_watched_tv_series['Run Time'] = run_time
most_watched_tv_series['Ratings'] = ratings
most_watched_tv_series['Votes'] = votes

most_watched_tv_series

,Series Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,628"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,377"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,461"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,644"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,582"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,961"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,945"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,115"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,253"

In [33]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [57]:
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [58]:
all_dataset = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
all_dataset.click()

In [60]:
dataset_name=[]
data_type=[]
task=[]
atrribute_type=[]
no_of_instances=[]
no_of_atrribute=[]
year=[]
urls=[]

start=0
end=10

for page in range(start,end):
    all_urls = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for value in all_urls:
        urls.append(value.get_attribute("href"))
    
    next_button= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        # scrap data from next button
    next_button.click()
    time.sleep(3)
    
len(urls)

100

In [61]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        all_dataset_name = driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        for value in all_dataset_name:
            dataset_name.append(value.text)
    except NoSuchElementException:
        dataset_name.append("-")
        
    try:
        all_data_type = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        for value in all_data_type:
            data_type.append(value.text)
    except NoSuchElementException:
        data_type.append("-")
        
    try:
        all_task = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        for value in all_task:
            task.append(value.text)
    except NoSuchElementException:
        task.append("-")
        
    try:
        all_atrribute_type = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        for value in all_atrribute_type:
            atrribute_type.append(value.text)
    except NoSuchElementException:
        atrribute_type.append("-")
        
    try:
        all_no_of_instances = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        for value in all_no_of_instances:
            no_of_instances.append(value.text)
    except NoSuchElementException:
        no_of_instances.append("-")
        
    try:
        all_no_of_atrribute = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        for value in all_no_of_atrribute:
            no_of_atrribute.append(value.text)
    except NoSuchElementException:
        no_of_atrribute.append("-")
        
    try:
        all_year = driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        for value in all_year:
            year.append(value.text[-4:])
    except NoSuchElementException:
        year.append("-")

In [62]:
len(dataset_name),len(data_type),len(task),len(atrribute_type),len(no_of_instances),len(no_of_atrribute),len(year)

(100, 100, 100, 100, 100, 100, 88)

In [63]:
datasets = pd.DataFrame({})
datasets['Dataset Name'] =dataset_name[0:88]
datasets['Data Type'] = data_type[0:88]
datasets['Task'] = task[0:88]
datasets['Atrribute Type'] = atrribute_type[0:88]
datasets['No Of Instances'] = no_of_instances[0:88]
datasets['No Of Atrribute'] = no_of_atrribute[0:88]
datasets['year'] = year[0:88]

datasets

,Dataset Name,Data Type,Task,Atrribute Type,No Of Instances,No Of Atrribute,year
0,Student Performance,Multivariate,"Classification, Regression",Integer,649,-,2014
1,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,5,1986
2,Spambase,Multivariate,Classification,"Integer, Real",4601,57,1999
3,Predict students' dropout and academic success,Tabular,Classification,-,4424,36,2021
4,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541909,6,2015
...,...,...,...,...,...,...,...
83,Parkinsons,Multivariate,Classification,Real,197,-,2022
84,US Census Data (1990),Multivariate,Clustering,Categorical,2458285,-,2021
85,Multiple Features,Multivariate,Classification,"Integer, Real",2000,-,2022
86,Balloons,Multivariate,Classification,Categorical,16,-,1988
87,Online News Popularity,Multivariate,"Classification, Regression","Integer, Real",39797,-,1992

In [64]:
driver.close()